---
import EventSubscription from '../components/EventSubscription.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Events Calendar"
  description="Subscribe to Melbourne technology community events from melb.dev in your calendar app or RSS reader."
>
  <article class="content-page">
    <div class="content-frame">
      <h1 class="text-4xl font-black">Events Calendar</h1>
      <div class="content-prose">
        <section aria-labelledby="subscribe">
          <EventSubscription />
        </section>
      </div>
    </div>
  </article>
</Layout>
