---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="For Organisers"
  description="How Melbourne community and event organisers collaborate through melb.dev."
>
  <article class="content-page">
    <div class="content-frame">
      <h1 class="text-4xl font-black">For organisers</h1>
      <div class="content-prose">
        <p>
          Our vision is to make Melbourne the best city in the world to build technology through
          technical excellence and a thriving community. We aim to support, not replace, existing
          tech community groups.
        </p>
        <p>
          We are in the process of inviting local meetup and event organisers into a private Slack
          community to work together to uplevel Melbourne's tech community and events, and to
          support, coordinate, and collaborate with each other. Please email <a
            href="mailto:gday@melb.dev">gday@melb.dev</a
          > to join.
        </p>
        <p>
          With this group, we are working to develop a set of <a
            href="https://docs.google.com/document/d/1Vw_UYw2C8dLHNqLA5N_6w99DnqvaUpVl5MbPuuO3JLo/edit?usp=sharing"
            >Community-First Principals and Standards</a
          >, which we plan to publish on our <a href="/standards">Community Standards</a> page.
        </p>
      </div>
    </div>
  </article>
</Layout>
