---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Community Standards"
  description="The community standards for technology events and groups recognised by melb.dev."
>
  <article class="content-page">
    <div class="content-frame">
      <h1 class="text-4xl font-black">Community Standards</h1>
      <div class="content-prose">
        <p>
          Across this website you will see the term <strong>Community-First</strong> when referring to
          events and communities. We define this as: events and communities which exist to deliver value
          to members and attendees, not for commercial gain or commercial interests.
        </p>
        <p>
          We are in the process of working with local meetup and event organisers to develop a set
          of <a
            href="https://docs.google.com/document/d/1Vw_UYw2C8dLHNqLA5N_6w99DnqvaUpVl5MbPuuO3JLo/edit?usp=sharing"
            >Community-First Principals and Standards</a
          >. We are seeking community feedback and alignment, please request comment access on that
          Google Doc to apply to contribute.
        </p>
      </div>
    </div>
  </article>
</Layout>
